* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

section {
    margin: 100px auto;
}


/* testo */

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    padding: 30px 0px;
}

a {
    text-decoration: none;
}

section h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.span-bold {
    display: block;
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}


/* larghezze colonne */

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.w-80 {
    margin: 0 auto;
    width: 80%;
}

.w-70 {
    float: left;
    width: 70%;
}

.w-60 {
    margin: 0 auto;
    width: 60%;
}

.w-50 {
    margin: 0 auto;
    width: 50%;
    float: left;
}

.w-40 {
    float: left;
    width: 40%;
}

.w-30 {
    float: left;
    width: 30%;
}

.row {
    width: 100%;
    margin: 50px 0px;
}


/* pulsanti */

button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    border: 1px solid grey;
    padding: 10px 22px;
}

button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.btn.btn-blue {
    background-color: #0061FE;
    color: white;
    border: none;
}


/* altro */

.radio {
    padding-right: 20px;
}

.far,
.fas {
    padding-right: 5px;
}

.link-cta,
.link-cta:visited,
.link-cta:focus {
    color: #0061FE;
    font-weight: 600;
}


/* FINE COMMON */


/* HEADER */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

header img {
    vertical-align: middle;
    padding: 0 10px 0px 0px;
}

nav {
    line-height: 80px;
}

nav a {
    display: inline-block;
    padding: 0px 20px;
    color: black;
    /* metto bordo trasparente per non far sfarfallare il menu con l'hover */
    border-bottom: 1px solid transparent;
}

nav .logo-img:hover {
    border-bottom: 1px solid transparent;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.nav-left {
    height: 100%;
    float: left;
    margin: 0px 0px 0px 50px;
}

.nav-right {
    height: 100%;
    float: right;
    margin: 0px 50px 0px 0px;
}

#start-button {
    margin-left: 20px;
}


/* FINE HEADER */


/* JUMBOTRON */

.jumbotron {
    position: relative;
    background-color: #B4D0E7;
    background-size: cover;
    padding: 150px 0px 0px;
}

.jumbotron p {
    font-weight: 600;
    padding: 30px 100px 30px 0px;
}

.jumbotron span {
    display: block;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.jumbotron .w-80 .w-60 {
    float: left;
}

.jumbotron .w-80 .w-60 img {
    width: 100%;
    margin-bottom: -70px;
}

.fa-arrow-down {
    padding-top: 30px;
    font-size: 30px;
}


/* FINE JUMBOTRON */


/* MAIN */


/* sezione dropbox business */

.artw-30 {
    float: left;
    min-height: 900px;
    width: calc(100% / 3 - 10px);
}

.article-center {
    margin: 0px 15px;
}

article {
    border: 1px solid lightgray;
}

#articles {
    justify-content: space-between;
}

.row h4 {
    padding: 10px 0px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

.w-90 .art-rinnovo {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.w-90 .fa-check {
    color: #0061FE;
}

.w-90 .art-rinnovo {
    font-weight: 600;
    font-size: 16px;
    color: grey;
    margin-bottom: 40px;
}

.artw100 .w-90 {
    padding: 20px 0px;
}

.artw100 .w-90 h3 {
    padding-top: 0;
}

#articles .w-90 button {
    display: block;
    width: 100%;
    margin: 20px auto 10px auto;
}

.w-90 .buy-now {
    margin: 20px 0px;
    font-weight: 600;
}

.w-90 hr {
    width: 20%;
    color: grey;
    margin: 30px 0px;
}

.w-90 ul li {
    list-style: none;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}

.w-30 button {
    display: block;
    width: 100%;
}


/* sezione cta partner */

.cta-partner img {
    width: 100%;
}

.cta-partner .partner-text {
    padding-left: 50px;
}

.cta-partner button {
    margin: 30px 0px;
    border: 1px solid lightgrey;
}


/* sezione operazione business  */

.col-operazioni {
    width: calc(100% / 3 - 20px);
    float: left;
    padding: 0px 30px;
}

.col-center {
    margin: 0px 30px;
}

.col-operazioni h3 {
    padding-top: 0;
}

.col-operazioni img {
    width: 100%;
}


/* sezione team dropbox */

.team-dropbox .teams {
    width: 100%;
    margin-top: 30px;
}

.teams .col-side {
    float: left;
    height: 30vw;
    width: 30vw;
}

.col-side .single-team {
    float: left;
    height: 15vw;
    width: 15vw;
    text-align: center;
    line-height: 15vw;
    /* do un'opacità che servirà per l'hover */
    opacity: 0.9;
}

.col-side .single-team img {
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}


/* effetto puntatore sui box dei team */

.col-side .single-team:hover {
    cursor: pointer;
    opacity: 1;
    border: 10px solid rgba(209, 230, 230, 0.263);
}

.team-dropbox .teams .col-center-team {
    float: left;
    padding: 50px;
    width: 40vw;
    height: 30vw;
    overflow-y: auto;
    background-color: #F5F5F5;
}

.teams .col-center-team img {
    width: 20%;
}

.teams .col-center-team hr {
    margin: 30px 0px;
    width: 20%;
}

.teams .col-center-team p {
    margin: 50px 0;
}

.teams .col-center-team span {
    padding-bottom: 10px;
}

.team1 {
    background-color: turquoise;
}

.team2 {
    background-color: brown;
}

.team3 {
    background-color: cornflowerblue;
}

.team4 {
    background-color: tomato;
}

.team5 {
    background-color: salmon;
}

.team6 {
    background-color: #B4D0E7;
}

.team7 {
    background-color: rebeccapurple;
}

.team8 {
    background-color: sandybrown;
}

.banner-team {
    background-color: #B4D0E7;
    padding: 150px 0px;
}

.banner-team .w-60 .w-60,
.banner-team .w-40 .w-60 {
    float: left;
}

.banner-team .w-40 {
    text-align: right;
}

.banner-team .w-40 button {
    width: 60%;
    text-align: center;
    border: none;
}

.banner-team .w-60 {
    padding-right: 100px;
}

.banner-team .w-60 h2 {
    color: brown;
}


/* Inizio sezione FAQ */

.faq {
    position: relative;
    padding: 50px 0px;
    border-top: 1px solid lightgray;
}

.faq:last-of-type {
    border-bottom: 1px solid lightgray;
}

.faq .span-bold {
    display: inline-block;
    padding: 0;
}

.faq .fas {
    position: absolute;
    right: 0;
}

.faq .faq-answer {
    padding-top: 20px;
    width: 70%;
    display: none;
}

.faq:hover {
    cursor: pointer;
}

.faq:hover .faq-answer {
    display: block;
}


/* FINE MAIN */


/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    color: white;
}

footer .w-90 hr {
    margin-top: 100px;
    color: white;
    width: 100px;
}

.foot-top {
    width: 100%;
}

.foot-menu {
    width: calc(100% / 5);
    float: left;
}

.foot-bottom {
    color: grey;
    padding: 50px 0px;
    line-height: 30px;
}


/* FINE FOOTER */