* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.w-90 {
    width: 90%;
    padding: 15px 0px;
    margin: 0 auto;
}

.w-80 {
    margin: 0 auto;
    width: 80%;
}

.w-70 {
    float: left;
    width: 70%;
}

.w-60 {
    margin: 0 auto;
    width: 60%;
}

.w-50 {
    margin: 0 auto;
    width: 50%;
    float: left;
}

.w-30 {
    float: left;
    width: 30%;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 24px;
}

button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    padding: 10px 22px;
}

button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.btn-blue {
    background-color: #0061FE;
    color: white;
}

.jumbotron p {
    font-weight: 600;
}

section {
    margin: 100px auto;
}

section h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.radio {
    padding-right: 20px;
}

.row {
    margin: 30px 0px;
}

.far,
.fas {
    padding-right: 5px;
}


/* FINE COMMON */


/* HEADER */

header {
    height: 80px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    /* border-bottom: 1px solid trasparent; */
}

header img {
    vertical-align: middle;
    padding: 0 10px 0px 0px;
}

nav {
    line-height: 80px;
}

nav a {
    display: inline-block;
    padding: 20px 20px;
    color: black;
    line-height: 100%;
}

nav .logo-img:hover {
    border-bottom: 1px solid transparent;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.nav-left {
    height: 100%;
    float: left;
    margin: 0px 0px 0px 50px;
}

.nav-right {
    height: 100%;
    float: right;
    margin: 0px 50px 0px 0px;
}

#start-button {
    margin-left: 20px;
}


/* FINE HEADER */


/* JUMBOTRON */

.jumbotron {
    position: relative;
    background-color: #B4D0E7;
    background-size: cover;
    min-height: 800px;
    padding: 150px 0px 0px;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.jumbotron p {
    padding: 30px 100px 30px 0px;
}

.jumbotron span {
    display: block;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.row {
    width: 100%;
}

.col-40w {
    width: 40%;
    float: left;
}

.col-60w {
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
}

.jumbotron .w-80 .col-60w img {
    /* position: absolute; */
    /* max-width: 40%; */
    width: 100%;
    margin-bottom: -70px;
}

.fa-arrow-down {
    padding-top: 30px;
    font-size: 30px;
}


/* FINE JUMBOTRON */


/* MAIN */


/* sezione dropbox business */

.artw-30 {
    float: left;
    min-height: 900px;
    width: calc(100% / 3 - 10px);
}

.article-center {
    margin: 0px 15px;
}

article {
    border: 1px solid lightgray;
}

#articles {
    justify-content: space-between;
}

.row h4 {
    padding: 10px 0px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

.w-90 .art-rinnovo {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.w-90 .fa-check {
    color: #0061FE;
}

.row .span-bold {
    display: block;
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 700;
}

.w-90 .art-rinnovo {
    font-weight: 600;
    font-size: 16px;
    color: grey;
    margin-bottom: 40px;
}

#articles .w-90 button {
    display: block;
    width: 100%;
    margin: 20px auto 10px auto;
}

.w-90 .buy-now {
    margin: 20px 0px;
    font-weight: 600;
}

.w-90 a {
    text-decoration: underline;
    color: #0061FE;
}

.w-90 hr {
    width: 20%;
    color: grey;
    margin: 30px 0px;
}

.w-90 ul li {
    list-style: none;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}

.w-30 button {
    display: block;
    width: 100%;
}


/* sezione cta partner */

.cta-partner img {
    width: 100%;
}

.cta-partner .w-50 {
    padding-left: 50px;
}

.cta-partner h3 {
    padding: 30px 0px;
}

.cta-partner button {
    margin: 30px 0px;
    border: 1px solid lightgrey;
}


/* FINE MAIN */


/* FOOTER */


/* FINE FOOTER */