* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.w-80 {
    margin: 0 auto;
    width: 80%;
}

.w-60 {
    margin: 0 auto;
    width: 60%;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 16px;
}

.btn:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.btn-blue {
    background-color: #0061FE;
    color: white;
}

p {
    font-weight: 600;
}


/* FINE COMMON */


/* HEADER */

header {
    height: 80px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    /* border-bottom: 1px solid trasparent; */
}

header img {
    vertical-align: middle;
    padding: 0 10px 0px 0px;
}

nav {
    line-height: 80px;
}

nav a {
    display: inline-block;
    padding: 20px 20px;
    color: black;
    line-height: 100%;
}

nav .logo-img:hover {
    border-bottom: 1px solid transparent;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.nav-left {
    height: 100%;
    float: left;
    margin: 0px 0px 0px 50px;
}

.nav-right {
    height: 100%;
    float: right;
    margin: 0px 50px 0px 0px;
}

#start-button {
    margin-left: 20px;
}


/* FINE HEADER */


/* JUMBOTRON */

.jumbotron {
    position: relative;
    background-color: #B4D0E7;
    background-size: cover;
    min-height: 800px;
    padding: 150px 0px 0px;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.jumbotron p {
    padding: 30px 100px 30px 0px;
}

.jumbotron span {
    display: block;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.row {
    width: 100%;
    height: 100%;
}

.col-40w {
    width: 40%;
    float: left;
}

.col-60w {
    width: 60%;
    float: left;
}

.jumbotron .w-80 .col-60w img {
    position: absolute;
    max-width: 800px;
    width: 50%;
    bottom: -70px;
}

.fas {
    padding-top: 30px;
    font-size: 30px;
}


/* FINE JUMBOTRON */


/* MAIN */


/* FINE MAIN */


/* FOOTER */


/* FINE FOOTER */